// license:BSD-3-Clause
// copyright-holders:Aaron Giles
//============================================================
//
//	mess.rc - Minimal resource file for Win32 MAME
//
//============================================================

#define NOWINRES
#include "windows.h"
#include "commctrl.h"
#include "mamevers.rc"

1                       24      MOVEABLE PURE   "../../../osd/windows/mame.man"

#if 1 // mamep: console icon
IDI_MAME_ICON           ICON    DISCARDABLE     "../../../osd/windows/mame.ico"
#else
IDI_ICON_MESS           ICON    DISCARDABLE     "mess.ico"
#endif